

.search-bar {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  border: 1px solid var(--primary-color);

  input, button {
    display: block;
    margin: 20px auto;
    width: 70%;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--dark-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: background-color .1s linear;
    outline: none;
  }

  button {
    width: 50%;
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      color: #222222;
      background-color: #daf3f6;
    }

    &:active {
      background-color: #3db7c6;
    }
  }
}

@keyframes heartbeat {
  0%  {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}
