<div class="container">
  <div class="row">

    <div class="col-8">
      <app-follower *ngFor="let user of users | filterFollowers:keyWord"
                    [follower]="user"
                    [id]="viewerId"
      ></app-follower>
    </div>

    <div class="col-4">
      <div class="search-bar">
        <label>Input name of User
          <input type="search" [(ngModel)]="keyWord" placeholder="Search...">
        </label>
      </div>
      <div class="sort-bar">
        Sort by Name
        <div class="icons">
          <i class="icon-up-big" [class.active]="!sort" (click)="sortZA()"></i>
          <i class="icon-down-big" [class.active]="sort" (click)="sortAZ()"></i>
        </div>
      </div>
    </div>

  </div>
</div>
