.main {
  margin-top: 50px;
  min-height: calc(100% - 172px);
}

.form-wrapper {

  .form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
  }
}
