<header class="header">
  <div class="container">
    <div class="header-inner">

      <div class="logo">
        <a routerLink="/">Blog</a>
      </div>

      <nav class="auth-menu">
        <ul>
          <ng-container *ngIf="!authService.isAuth()">
            <li class="auth-menu-item"><a [routerLink]="['/auth', 'registration']">Registration</a></li>
            <li class="auth-menu-item"><a [routerLink]="['/auth', 'login']">Login</a></li>
          </ng-container>
          <li *ngIf="authService.isAuth()" class="auth-menu-item"><a href="#" (click)="logout($event)">Logout</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>

<main class="main">
  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="sidebar">

          <div class="user-info">
            <span>{{ userName }}</span>
          </div>

          <nav class="nav-menu">
            <ul>
              <li class="nav-menu-item"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
              ><a routerLink="/">All Posts</a></li>
              <li class="nav-menu-item" routerLinkActive="active"><a routerLink="/my-posts">My Posts</a></li>
              <li class="nav-menu-item" routerLinkActive="active"><a routerLink="/friends-posts">Friends Posts</a></li>
              <li class="nav-menu-item" routerLinkActive="active"><a routerLink="/users">Users</a></li>
              <li class="nav-menu-item" routerLinkActive="active"><a routerLink="/create-post">Add New Post</a></li>
            </ul>
          </nav>

          <div class="errors-block">Some error</div>

        </div>
      </div>

      <div class="col-9">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="copy">
        &copy; Intspirit 2019
      </div>
      <div class="social">
        By Zuev Roman
      </div>
    </div>
  </div>
</footer>
